@model List<LAB2_EVENTS.Models.Event>

@{
    ViewData["AVION"] = "QR";
}

<a class="btn btn-success" asp-action="Create">ADD NEW EVENT</a>
<h2>EVENT LIST</h2>
<div class="container">
    <table class="table table-bordered table-condensed table-hover">
        <tr class="warning bg-light fw-bold text-capitalize">
            <td>ID</td>
            <td>NAME</td>
            <td>LOCATION</td>
            <td>ACTION</td>
        </tr>
        @{
            foreach(var item in Model)
            {
                <tr>
                    <td>@item.Id </td>
                    <td>@item.eventName </td>
                    <td>@item.eventLocation</td>

                    <td>

                        <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary">Edit</a>
                        <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Delete</a>
                    </td>
                </tr>
            }
        }
    </table>
</div>
