@model HospitalSystem.Models.Entities.Patient

@{
    ViewBag.Title = "Add Patient";
}

<h2>Add Patient for @ViewBag.DoctorName</h2>

@using (Html.BeginForm("AddPatient", "Doctors"))
{
    @Html.Hidden("DoctorId", (int)ViewBag.DoctorId)

    <div class="form-group">
        @Html.LabelFor(model => model.PatientName, htmlAttributes: new { @class = "control-label" })
        @Html.DropDownList("PatientId", null, "-- Select Patient --", new { @class = "form-control" })
    </div>

    <button type="submit" class="btn btn-primary">Add Patient</button>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
