@model HospitalSystem.Models.Entities.Hospital

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Hospital</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.HospitalName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HospitalName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HospitalLocation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HospitalLocation)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HospitalImage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HospitalImage)
        </dd>

    </dl>
</div>

<p>
    @Html.ActionLink("Add Doctor", "AddDoctor", new { hospitalId = Model.Id })
</p>

<div>
    <h4>Associated Doctors</h4>
    <hr />
    <table class="table">
        <tr>
            <th>Doctor Name</th>
            <th>#Patients</th>
            <th>Actions</th>
        </tr>
        @foreach (var patientDoctor in Model.Doctors)
        {
            if (patientDoctor != null)
            {
                <tr>
                    <td>@patientDoctor.DoctorName</td>
                    <td>@patientDoctor.Patients.Count</td>
                
                    <td>
                        @Html.ActionLink("Remove", "RemoveDoctor", new { hospitalId = Model.Id, doctorId = patientDoctor.Id })
                    </td>
                </tr>
            }
        }
    </table>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
