@model WebApplication1.Models.DTOs.AddDoctorToHospitalDTO

@{
    ViewBag.Title = "AddDoctorToHospital";
}

<h2>Adding a doctor to hospital @Model.Hospital.HospitalName</h2>

<h3>Please select a doctor to add</h3>

<form method="post" asp-controller="Hospitals" asp-action="AddDoctorToHospital">
    @Html.Hidden("hospitalId", Model.Hospital.ID)

    <div class="form-group">
        <label for="doctorId" class="control-label col-md-2">Doctor</label>
        <div class="col-md-5">
            <select id="doctorId" name="doctorId" class="form-control">
                @foreach (var doctor in Model.Doctors)
                {
                    <option value="@doctor.ID">@doctor.DoctorName</option>
                }
            </select>
        </div>
    </div>


    @if (!string.IsNullOrEmpty(ViewBag.ErrorMessage))
    {
        <div class="alert alert-danger m-2" >
            @ViewBag.ErrorMessage
        </div>
    }

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Add Doctor" class="btn btn-primary" />
        </div>
    </div>
</form>
